<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Add new Region</h4>
        <button type="button" class="btn d-flex" style="height: 10%;align-items: center" aria-label="Close"
            (click)="modal.dismiss('Cross click')">X</button>
    </div>
    <app-regions-modal (newItemEvent)="getRegions()"></app-regions-modal>
</ng-template>
<div class="card">
    <div class="container-fluid">
        <div class="card-header">
            <h3><a (click)="openXl(content)"
                    style="text-decoration: none;color: blueviolet;cursor: pointer;padding: 0.5em;">Add Region</a></h3>
            <div class="row">
                <!-- <ng-select [items]="countries" (change)="getRegions()" class="form-control col-3 text-white" bindLabel="countryName" autofocus
                    bindValue="countryID" [(ngModel)]="selectedCountryID">
                </ng-select> -->
                <!-- <ng-select *ngIf="selectedCountryID" (change)="getCities()" [items]="regions" class="form-control col-3 text-white" bindLabel="regionDescription" autofocus
                    bindValue="regionID" [(ngModel)]="selectedRegionID">
                </ng-select> --> 
                <mat-select class="form-control bg-white col-3" name="countryName" id="countryID" [(ngModel)]="selectedCountryID" (ngModelChange)="getRegions()">
                    <mat-option *ngFor="let country of countries" [value]="country.countryID">
                        {{country.countryName}}
                    </mat-option>
                </mat-select>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th class="col-1">#</th> 
                    <th class="col-9">REGION</th>
                    <th class="col-2">DELETE</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let region of regions;let i = index">
                    <td class="col-1">{{i+1}}</td> 
                    <td class="col-9">{{region.regionDescription}}</td> 
                    <td class="col-2">
                        <button class="btn btn-round" (click)="openXl(deleteContent)"><i
                                class="tim-icons icon-simple-remove"></i></button>
                        <ng-template #deleteContent let-modal>
                            <div class="modal-header">
                                <h4 class="modal-title">Delete Screen</h4>
                                <button type="button" class="btn d-flex" style="height: 10%;align-items: center"
                                    aria-label="Close" (click)="modal.dismiss('Cross click')">X</button>
                            </div>
                            <app-regions-modal [deleteProcess]="true" [item]="region" (newItemEvent)="getRegions()">
                            </app-regions-modal>
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
